<footer class= "footer">
<small>
<a href="http://railtutprial.org/">Rails Tutorial</a>
by Michael
</small>
<nav>
<ul>
<li><%=link_to "about", about_path %></li>
<li><%=link_to "Contact", contact_path %></li>
<li><a href="http:http://news.railstutorial.org/">News</a></li>
</ul>
</nav>
</footer>